/course-info.yaml
/EasyRider/lesson-info.yaml
/EasyRider/stage 1/task.html
/EasyRider/stage 2/task.html
/EasyRider/stage 3/task.html
/EasyRider/stage 4/task.html
/EasyRider/stage 5/task.html
/EasyRider/stage 6/task.html
/EasyRider/stage 1/task-info.yaml
/EasyRider/stage 2/task-info.yaml
/EasyRider/stage 3/task-info.yaml
/EasyRider/stage 4/task-info.yaml
/EasyRider/stage 5/task-info.yaml
/EasyRider/stage 6/task-info.yaml
